{% extends '_template/base.html.twig' %}

{% block title %}<title>Produit</title>{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Important pour conserver les styles du parent #}
	
    <link rel="stylesheet" href="../asset/css/achatProduit.css">
{% endblock %}

{% block body %}

	<div class="info-prod">
		<form class="form" id="productForm" method="POST" action="/ajoutPanier.php">
			<input type="hidden" id="selectedColor" name="selectedColor" value="">
			<input type="hidden" id="idProduit" name="idProduit" value={{produit.n_produit}}>
			<input type="hidden" id="redirection" name="redirection" value="false">
			<img src="../asset/images/produit/{{ images[produit.n_produit-1].nom_image }}" alt="Image du produit">
			<div class="info">
				<h1>{{produit.name}}</h1>
				<div class="couleurDispo">
					{% set couleurs = produit.color|split(',') %}
					{% for couleur in couleurs %}
						<div class="carre-couleur" style="background-color: {{ couleur }};" data-color="{{ couleur }}"></div>
					{% endfor %}
				</div>
				<div class="taille">
					<select id="LstTaille" name="ListeTaille">
					<option>XXL</option>
					<option>XL</option>
					<option>L</option>
					<option>M</option>
					<option>S</option>
				</select>
				</div>

				<p id="prix">{{produit.price}}€</p>
				<div class="stock-quantite">
					<p>Stock : {{produit.stock}}</p>
					<div class="quantite">
						<label for="QuantiteAchat">Quantité</label>
						<input type="number" id="quantite" name="quantie" value="1"> <!-- bloquer négatif -->
					</div>
				</div>
				<div class="btns">		
					<button type="submit" id="btnAjoutPanier">Ajouter au panier</button>
				</div>
			</div>
		</form>
	</div>

	<div class="description">
		<p>{{produit.description}}</p>
	</div>
	
{% block javascripts %}
	<script src="../asset/js/achatProduit.js"></script>
{% endblock %}
{% endblock %}
