{% extends '_template/base.html.twig' %}

{% block title %}<title> Accueil - BDE Informatique</title>{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Important pour conserver les styles du parent #}
    <link rel="stylesheet" href="../asset/css/accueil.css">
{% endblock %}


{% block body %}
    <div class="section1">
        <div>
            <h1>BDE INFORMATIQUE</h1>
            <h2>Organisateur de sortie et de soirée pour le département Informatique.</h2>
        </div>
        <div><img src="../../asset/images/grand-logo.png" alt="Logo BDE" ></div>
    </div>

    <div class="section2">
        <h2>ÉVÉNEMENT DU BDE</h2>
        <div id="eventCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in 0..(evenements|length - 3) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row g-4">
                            {% for event in evenements|slice(i, 3) %}
                                <div class="col-md-4">
                                    <div class="event-carte">
                                        <h2 class="event-title">{{ event.nom }}</h2>
                                        <hr>
                                        <p class="event-description">{{ event.description }}</p>
                                        <hr>
                                        <p class="event-date">
                                            {{ event.dateDebut|date('d/m/Y') }}
                                            <img src="../../asset/images/calendar.png" class="iut">

                                             - {{ event.adresse }}
                                            <img src="../../asset/images/geo.png" class="iut">

                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#eventCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#eventCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
            </button>
        </div>
    </div>

    <div class="section 3">
        <div class="iut-container">
            <img src="../../asset/images/iut1.jpg" class="iut">
        </div>
        <div class="text">
            <p><strong>DEPUIS 2024</strong> <br>Le BDE Informatique vous accompagne dans la vie étudiante</p>
            <p><strong>8 membres </strong><br> Tous dévoué pour les projets que nous vous proposons </p>
        </div>
    </div>

    <div class="section4">
        <h2>NEWS</h2>
        <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in 0..(news|length - 3) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row g-4">
                            {% for new in news|slice(i, 3) %}
                                <div class="col-md-4">
                                    <div class="new-carte">
                                        <h2 class="new-title">{{ new.titre }}</h2>
                                        <hr>
                                        <p class="new-description">{{ new.contenu|length > 100 ? new.contenu|slice(0, 100) ~ '...' : new.contenu }}</p>
                                        <hr>
                                        <p class="new-date">
                                            {{ new.date|date('d/m/Y') }}
                                            <img src="../../asset/images/calendar.png" class="iut">
                                        </p>
                                    
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newsModal{{ new.id }}">
                                            Voir plus
                                        </button>
                                    </div>
                                </div>
                                
                            
                                <div class="modal fade" id="newsModal{{ new.id }}" tabindex="-1" aria-labelledby="newsModalLabel{{ new.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="newsModalLabel{{ new.id }}">{{ new.titre }}</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{ new.contenu }}</p>
                                                <hr>
                                                <p>
                                                    <strong>Date :</strong> {{ new.date|date('d/m/Y') }}
                                                    <img src="../../asset/images/calendar.png" class="iut">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
            </button>
        </div>
    </div>
{% endblock %}