{% extends '_template/base.html.twig' %}

{% block title %}<title>Profil - BDE Informatique</title>{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="asset/css/profil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block body %}

<h1>Profil</h1>
<div class="profile-info">
    <div class="info-item">
        <span class="label">Prénom:</span>
        <span class="value">{{user.firstname}}</span>
    </div>
    
    <div class="info-item">
        <span class="label">Nom:</span>
        <span class="value">{{user.lastname}}</span>
    </div>
    
    <div class="info-item">
        <span class="label">Email:</span>
        <span class="value">{{user.email}}</span>
    </div>
    
    <div class="info-item">
        <span class="label">Numéro étudiant:</span>
        <span class="value">{{user.netu}}</span>
    </div>
    
    <div class="password-field">
        <form method="POST" action="./update_password.php" id="passwordForm" onsubmit="return confirm('Voulez-vous vraiment changer votre mot de passe ?');">
                <div class="password-input-wrapper">
                    <label>Mot de passe:</label>
                    <input 
                        type="password" 
                        name="new_password" 
                        id="passwordInput"
                        required>
                    <button type="submit" class="enregistrer">Enregistrer</button>
                </div>
        </form>
    </div>
</div>

<div class="action-buttons">
    <form method="POST" action="./logout.php" class="logout-form">
        <button type="submit" class="btnRouge">Déconnexion</button>
    </form>

    <form method="POST" action="./user_delete.php">
        <button class="btnRouge"  onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre profil ?')">Supprimer le profil</button>
    </form>

</div>


{% endblock %}