{% extends '_template/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../asset/css/profil.css">

{% endblock %}

{% block body %}

<h1>profil</h1>
<p>{{user.firstname}} {{user.lastname}}</p>
<p>{{user.email}}</p>
<p>{{user.password}}</p>
<p>{{user.netu}}</p>


{% endblock %}
